@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
  display:inline-block;
  background-color:grey;
  text-align:center;
  margin-left:5px;

}

footer{
  background-color:grey;
  color:white;
  text-align:center;
  padding:10px;
  margin-top:10px;
}





